.socialMediaWrapper {
}

.imageWrapper {
  display: flex;
  padding-top: 96px;
  justify-content: space-evenly;
}

.socialMediaText {
  word-spacing: 105px;
  margin-top: 27px;
  color: rgba(155, 171, 193, 0.5);
  justify-content: space-between;
  font-size: 12px;
  letter-spacing: 1px;
  padding-right: 45px;
}

.twitter {
  margin-left: -88px;
  padding-right: 1px;
}

.facebook {
  margin: left 20px;
  margin-right: 10px;
  padding-left: 30px;
}

.linkedin {
  margin-right: -33px;
  padding-left: 20px;
}
